<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./index_css.css" type="text/css">
</head>

<body>
    <div id="app">
        <div class="titlebar">
            <p class="titlebar_p">各种的操作</P>
        </div>
        <el-collapse accordion>
            <el-collapse-item title="A：获取图谱科技Token" name="1">
                <el-form ref="form" v-model="gettokenform" label-width="120px" inline>
                    <el-form-item label="图谱Key">
                        <el-input v-model="gettokenform.key" size="mini" placeholder="请输入Key值，注意保密" style="width:200px"></el-input>
                    </el-form-item>
                    <el-form-item label="图谱screct">
                        <el-input v-model="gettokenform.screct" size="mini" placeholder="请输入screct值，注意保密" style="width:200px"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" v-on:click="gettoken()" size="mini">获取Token值</el-button>
                    </el-form-item>
                    <el-form-item label="返回的Token值">
                        <el-input v-model="token" readonly size="mini" style="width:650px"></el-input>
                    </el-form-item>
                </el-form>
            </el-collapse-item>
            <el-collapse-item title="B：获得客户流数据" name="2">
                <el-form ref="form" v-model="getvisitorsform" labed-width="120px" inline>
                    <el-row>
                        <el-form-item label="访客分类">
                            <el-select v-model="getvisitorsform.tag.value" placeholder="请选择" size="mini">
                                <el-option v-for="item in getvisitorsform.tag.options" :key="item.value" :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="排序方式">
                            <el-select v-model="getvisitorsform.sortBy.value" placeholder="请选择" size="mini">
                                <el-option v-for="item in getvisitorsform.sortBy.options" :key="item.value" :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="升降序选择">
                            <el-select v-model="getvisitorsform.sortOrder.value" placeholder="请选择" size="mini">
                                <el-option v-for="item in getvisitorsform.sortOrder.options" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-row>
                    <el-row>
                        <el-form-item label="查询日期">
                            <el-date-picker v-model="getvisitorsform.date" type="date" placeholder="选择日期" size="mini">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item label="Start">
                            <el-date-picker v-model="getvisitorsform.start" type="date" placeholder="start与end必须同时设置"
                                size="mini">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item label="End">
                            <el-date-picker v-model="getvisitorsform.end" type="date" placeholder="start与end必须同时设置"
                                size="mini">
                            </el-date-picker>
                        </el-form-item>
                    </el-row>
                    <el-row>
                        <el-form-item>
                            <el-button type="primary" v-on:click="getvisitors()" size="mini">获取</el-button>
                        </el-form-item>
                    </el-row>
                </el-form>
            </el-collapse-item>
            <el-collapse-item title="C：查看客户数据" name="3">
                <el-form ref="form" v-model="checkvisitorsform" labed-width="120px" inline>
                    <el-row>
                        <el-form-item label="客户类型">
                            <el-select v-model="checkvisitorsform.tag.value" placeholder="请选择" size="mini">
                                <el-option v-for="item in checkvisitorsform.tag.option" :key="item.value" :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <!-- <el-form-item>
                            <el-button icon="el-icon-arrow-left" circle size="mini"></el-button>
                        </el-form-item> -->
                        <el-form-item>
                            <el-input v-model="checkvisitorsform.cnt" size="mini" readonly="true" style="width: 100px;"></el-input>
                        </el-form-item>
                        <!-- <el-form-item>
                            <el-button icon="el-icon-arrow-right" circle size="mini"></el-button>
                        </el-form-item> -->
                        <el-form-item>
                            <el-button type="primary" size="mini" v-on:click="checkvisitors()">根据客户条件查看</el-button>
                        </el-form-item>
                    </el-row>
                    <el-row>
                        <el-form-item label="客户名字">
                            <el-input placeholder="请输入名字" v-model="checkvisitorsform.inputname" size="mini" clearable></el-input>
                        </el-form-item>
                    </el-row>
                    <el-row>
                        <el-form-item label="客户性别">
                            <el-select v-model="checkvisitorsform.inputsex" placeholder="请选择性别" size="mini">
                                <el-option label="无" value=""></el-option>
                                <el-option label="男" value="1"></el-option>
                                <el-option label="女" value="0"></el-option>
                              </el-select>
                        </el-form-item>
                    </el-row>
                    <el-row>
                        <el-form-item label="客户年龄">
                            <el-input placeholder="请输入年龄" v-model="checkvisitorsform.inputage" size="mini" clearable></el-input>
                        </el-form-item>
                    </el-row>
                </el-form>
                <!-- <img src="/resource/imagesample.jpg" alt="" style="width:640px;height:400px"> -->
            </el-collapse-item>
            <el-collapse-item title="D：更新客户数据" name="4">
                <template>
                    <el-table :data="sql_result" style="width:100%" max-height="250" highlight-current-row @current-change="handleCurrentChange">
                        <el-table-column fixed prop="personId" label="客户图谱ID" width="360"></el-table-column>
                        <el-table-column fixed prop="usercode" label="客户编码" width="120"></el-table-column>
                        <el-table-column fixed prop="name" label="客户姓名" width="120"></el-table-column>
                        <el-table-column fixed prop="type" label="客户类型" width="120"></el-table-column>
                        <el-table-column fixed prop="sex" label="客户性别" width="120"></el-table-column>
                        <el-table-column fixed prop="age" label="客户年龄" width="120"></el-table-column>
                        <el-table-column fixed="right" label="操作" width="240">
                            <template slot-scope="scope">
                                <el-button @click="editrow" type="text" size="mini">编辑</el-button>
                                <el-button @click="deleterow" type="text" size="mini">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    
                </template>
                <br>
                <img :src="editvisitordataform.imgsrc" alt="" style="width:640px;height:400px">
                <!-- <canvas id="peoplecanvas" width="640" height="400" style="border:1px solid #000000"> -->
                </canvas>
            </el-collapse-item>
        </el-collapse>

        <el-dialog title="编辑客户数据" :visible.sync="editvisitordataform.visible" width="30%" :before-close="editvisitordata_handledgclose">
            <el-form ref="form" :model="editvisitordataform" label-width="80px">
                <el-form-item label="客户编码">
                    <el-input v-model="editvisitordataform.usercode" size="mini" width="100px"></el-input>
                </el-form-item>
                <el-form-item label="客户姓名">
                    <el-input v-model="editvisitordataform.name" size="mini" width="100px"></el-input>
                </el-form-item>
                <el-form-item label="客户类型">
                    <el-select v-model="editvisitordataform.type" placeholder="请选择客户类型" size="mini">
                        <el-option label="员工" value="员工"></el-option>
                        <el-option label="普通客户" value="普通客户"></el-option>
                        <el-option label="普通客户+注册客户" value="2"></el-option>
                        <el-option label="回头客户" value="3"></el-option>
                        <el-option label="新客户" value="4"></el-option>
                    </el-select>
                </el-form-item>     
                <el-form-item label="客户性别">
                    <el-select v-model="editvisitordataform.sex" placeholder="请选择性别" size="mini">
                        <!-- <el-option label="无" value=""></el-option> -->
                        <el-option label="男" value="1"></el-option>
                        <el-option label="女" value="0"></el-option>
                      </el-select>
                </el-form-item>
                <el-form-item label="客户年龄">
                    <el-input v-model="editvisitordataform.age" size="mini" width="100px"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="editvisitordata_cancel">取 消</el-button>
                <el-button type="primary" @click="editvisitordata_confirm">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</body>
<!-- import Vue before Element -->
<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="fun.js"></script>
<script>
    vm = new Vue({
        el: '#app',
        data: function () {
            return {
                getkeyurl: "http://www.dcrm.com/src/gettoken.php",
                gettokenform: {
                    key: 'tgr3cu3q1r63ib85k7lbrcchp1vu1elolbpbqrgl',
                    screct: '9ld2fq1g2n3pt1sat4cts7060nkndaisql9fjoo7'
                },
                token: null,
                UID: '5a697361400b0115d512a553',
                SID: '5a697383400b0115d512a555',
                visitortype_option: [{
                    value: "staff",
                    label: "员工"
                }, {
                    value: "customer",
                    label: "普通顾客"
                }, {
                    value: "VIP",
                    label: "VIP"
                }, {
                    value: "allCustomer",
                    label: "普通客户+注册客户"
                }, {
                    value: "regularCustomer",
                    label: "回头客"
                }, {
                    value: "newCustomer",
                    label: "新顾客"
                }],
                getvisitorsurl: "http://www.dcrm.com/src/getvisitors.php",
                getvisitorsform: {
                    tag: {
                        options: [{
                            value: "staff",
                            label: "员工"
                        }, {
                            value: "customer",
                            label: "普通客户"
                        }, {
                            value: "VIP",
                            label: "VIP"
                        }, {
                            value: "allCustomer",
                            label: "普通客户+注册客户"
                        }, {
                            value: "regularCustomer",
                            label: "回头客户"
                        }, {
                            value: "newCustomer",
                            label: "新客户"
                        }],
                        value: ""
                    },
                    sortBy: {
                        options: [{
                            value: "",
                            label: "无排序"
                        }, {
                            value: "firstEnterTime",
                            label: "第一次进入时间"
                        }, {
                            value: "start",
                            label: "进入时间"
                        }, {
                            value: "lastCaputuredTime",
                            label: "最新拍摄到的时间"
                        }, {
                            value: "end",
                            label: "最近出现时间"
                        }, {
                            value: "visitDuration",
                            label: "来访时间"
                        }, {
                            value: "duration",
                            label: "停留时间"
                        }, {
                            value: "visitCount",
                            label: "来访次数"
                        }, {
                            value: "visitCountOfDay",
                            label: "来访天数"
                        }, {
                            value: "historyVisitCount",
                            label: "历史来访次数"
                        }, {
                            value: "visitSum",
                            label: "历史总来访次数"
                        }, {
                            value: "historyDailyVisitCount",
                            label: "历史日来访次数"
                        }, {
                            value: "visitDays",
                            label: "历史来访天数"
                        }],
                        value: ""
                    },
                    sortOrder: {
                        options: [{
                            value: "desc",
                            label: "降序"
                        }, {
                            value: "asc",
                            label: "升序"
                        }],
                        value: ""
                    },
                    date: "",
                    start: "",
                    end: ""
                },
                checkvisitorsurl:"http://www.dcrm.com/src/checkvisitors.php",
                checkvisitorsform: {
                    tag: {
                        option: [
                        {
                            value: "staff",
                            label: "员工"
                        }, {
                            value: "customer",
                            label: "普通客户"
                        }, {
                            value: "VIP",
                            label: "VIP"
                        }, {
                            value: "allCustomer",
                            label: "普通客户+注册客户"
                        }, {
                            value: "regularCustomer",
                            label: "回头客户"
                        }, {
                            value: "newCustomer",
                            label: "新顾客"
                        }],
                        value: ""
                    },
                    inputname:"",
                    inputage:"",
                    inputsex:"",
                    cnt: 0
                    // inputimgurl:"/resource/imagesample.jpg"
                },
                sql_result: null,
                currentRow: null,
                editvisitordataform:{
                    visible: 0,
                    usercode: "ABC",
                    name: "张三",
                    type: "新客户",
                    sex: "男",
                    age: "40",
                    imgsrc: "/resource/imagesample.jpg",
                    faceposition:null
                }
            }
        },
        methods: {
            gettoken: function () {
                this.$http.post(this.getkeyurl, this.gettokenform, {
                    emulateJSON: true
                }).then(function (res) {
                    console.log(res.data);
                    this.token = res.data.token;
                }, function (res) {
                    console.log(res.status)
                })
            },
            getvisitors: function () {
                obj = this.getvisitorsform;
                bodyobj = new Object();
                bodyobj.tag = obj.tag.value;
                bodyobj.sortBy = obj.sortBy.value;
                bodyobj.sortOrder = obj.sortOrder.value;

                if (obj.date != "") {
                    bodyobj.date = obj.date.getFullYear() + "-" + month2normal(obj.date.getMonth()) + "-" +
                        obj.date.getDate();
                } else {
                    bodyobj.date = "";
                }
                if (obj.start != "") {
                    bodyobj.start = obj.start.getFullYear() + "-" + month2normal(obj.start.getMonth()) +
                        "-" + obj.start.getDate();
                } else {
                    bodyobj.start = "";
                }
                if (obj.end != "") {
                    bodyobj.end = obj.end.getFullYear() + "-" + month2normal(obj.end.getMonth()) + "-" +
                        obj.end.getDate();
                } else {
                    bodyobj.end = "";
                }

                bodyobj.token = this.token;
                bodyobj.UID = this.UID;
                bodyobj.SID = this.SID;
                bodyobj.token = this.token;


                //console.log(bodyobj.date);

                this.$http.post(this.getvisitorsurl, bodyobj, {
                    emulateJSON: true
                }).then(function (res) {
                    console.log(res.data);
                    //this.token = res.data;
                }, function (res) {
                    console.log(res.status)
                })
            },
            checkvisitors: function () {
                obj = this.checkvisitorsform;
                bodyobj = new Object();
                bodyobj.type = obj.tag.value;
                bodyobj.name = obj.inputname;
                bodyobj.sex = obj.inputsex;
                bodyobj.age = obj.inputage;
                //console.log(bodyobj.name);

                this.$http.post(this.checkvisitorsurl, bodyobj, {
                    emulateJSON: true
                }).then(function (res) {
                    console.log(res.data);
                    this.checkvisitorsform.cnt=res.data.length;
                    this.sql_result=res.data;
                }), function (res) {
                    console.log(res.status)
                }
            },
            handleCurrentChange: function(val){
                this.currentRow=val;
                this.editvisitordataform.imgsrc=this.currentRow.imageurl;
                console.log(this.currentRow);
                
                /* var c=document.getElementById("peoplecanvas");
                var ctx=c.getContext("2d");
                var img=document.createElement("img");
                img.src=this.editvisitordataform.imgsrc;
                console.log(img.src);
                ctx.drawImage(img, 0, 0); */
            },
            deleterow: function(){

            },
            editrow: function(){
                //console.log(this.currentRow);
                this.editvisitordataform.usercode=this.currentRow.usercode;
                this.editvisitordataform.name=this.currentRow.name;
                this.editvisitordataform.type=this.currentRow.type;
                this.editvisitordataform.sex=this.currentRow.sex;
                this.editvisitordataform.age=this.currentRow.age;
                //console.log(this.editvisitordataform);
                this.editvisitordataform.visible=true;
            },

            editvisitordata_confirm: function(){
                this.currentRow.usercode = this.editvisitordataform.usercode;
                this.currentRow.name = this.editvisitordataform.name;
                this.currentRow.type = this.editvisitordataform.type;
                this.currentRow.sex = this.editvisitordataform.sex;
                this.currentRow.age = this.editvisitordataform.age;
                this.editvisitordataform.visible = false;
            },

            editvisitordata_cancel: function(){
                //do nothing
            },

            /* editvisitordata_handledgclose: function(done){
                if (this.editvisitordataform.confirm == 1) {
                    this.currentRow.usercode = this.editvisitordataform.usercode;
                    this.currentRow.name = this.editvisitordataform.name;
                    this.currentRow.type = this.editvisitordataform.type;
                    this.currentRow.sex = this.editvisitordataform.sex;
                    this.currentRow.age = this.editvisitordataform.age;
                    this.editvisitordataform.confirm = 0;
                    console.log(this.currentRow);
                }
                console.log("hi");
            } */
        }
    })
</script>

</html>